header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../static/batzengaituena.png");
  background-repeat: no-repeat;
  background-size: cover; }
  header video {
    min-width: 100%;
    min-height: 100vh; }
  header h1 {
    position: absolute;
    width: 100%;
    top: 30vh;
    left: 0;
    text-align: center; }
    header h1 img {
      width: 35vh; }
  header a {
    position: absolute;
    color: white;
    text-decoration: none;
    margin: 1em;
    font-size: 0.9em; }
    header a img {
      height: 1.5em;
      vertical-align: middle;
      margin-right: 0.5em; }
    header a#osoa {
      top: 0;
      right: 0;
      font-weight: bold;
      border: 1px solid white;
      padding: 1em;
      text-transform: uppercase; }
    header a#guaixe {
      top: 0;
      left: 0;
      font-size: 1.2rem; }
      header a#guaixe:before {
        content: "";
        display: inline-block;
        height: 1px;
        width: 2em;
        background: white;
        vertical-align: middle;
        margin-right: 0.5em; }
    header a#bulegoa {
      bottom: 0;
      left: 0; }
    header a#batzen {
      bottom: 0;
      right: 0;
      font-size: 1.2em; }
    header a#scroll {
      bottom: 0;
      left: 40%;
      width: 20%;
      text-align: center; }
      header a#scroll:after {
        content: "";
        display: block;
        height: 2em;
        width: 1px;
        background: white;
        margin: 0.5em auto 0 auto; }

body {
  margin: 0;
  font-family: Lato; }

* {
  box-sizing: border-box; }

.post {
  width: 100%;
  font-size: 0; }
  .post.grey {
    background: #eee; }
    .post.grey section.resume {
      text-align: left; }
    .post.grey .player iframe {
      margin-left: 20%; }
  .post#dokumentalOsoa {
    background: #222; }
    .post#dokumentalOsoa .video {
      padding: 10%; }
    .post#dokumentalOsoa iframe {
      width: 100%;
      margin: 0;
      height: 30rem; }
    .post#dokumentalOsoa .resume {
      width: 100%;
      text-align: center;
      color: white;
      padding-bottom: 0; }
      .post#dokumentalOsoa .resume h1 {
        border-bottom: 2px solid white; }
  .post .video {
    width: 80%;
    margin: 0 10%; }
  .post section.resume, .post .player {
    display: inline-block;
    width: 50%;
    height: auto;
    font-size: 1rem;
    padding: 5%;
    vertical-align: middle; }
  .post section.resume {
    text-align: right; }
    .post section.resume h1 {
      display: inline-block;
      border-bottom: 2px solid black;
      padding-bottom: 0.5em; }
  .post .player iframe {
    width: 80%;
    height: 15rem; }

@font-face {
  font-family: Lato;
  src: url(../static/fonts/Lato-Regular.ttf); }
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url(../static/fonts/Lato-Bold.ttf); }
@font-face {
  font-family: Lato;
  font-style: oblique;
  src: url(../static/fonts/Lato-Italic.ttf); }
@media screen and (max-width: 1028px) {
  a#osoa {
    font-size: 1rem;
    width: 90%;
    top: 2rem !important; }

  a#bulegoa {
    font-size: 1rem;
    display: none; }

  a#batzen {
    font-size: 1rem;
    width: 90%;
    bottom: 3rem !important;
    text-align: center; }

  a#scroll:after {
    height: 1em !important; }

  .post .video {
    width: 100%;
    margin: 0; }
    .post .video .resume {
      width: 100%;
      text-align: center; }
    .post .video .player {
      width: 100%; }
      .post .video .player iframe {
        width: 100%;
        margin: 0;
        height: 10em; }
  .post.grey {
    background: #ccc; }
    .post.grey .video {
      width: 100%;
      margin: 0; }
      .post.grey .video .resume {
        width: 100%;
        text-align: center; }
  .post#dokumentalOsoa {
    font-size: 1rem !important; }
    .post#dokumentalOsoa iframe {
      height: 10rem; }

  h1 {
    font-size: 1.5rem; }

  p {
    font-size: 1rem; } }

/*# sourceMappingURL=main.css.map */
