header
  height: 100vh
  width: 100%
  overflow: hidden
  background-image: url('../static/batzengaituena.png')
  background-repeat: no-repeat
  background-size: cover
  video
    min-width: 100%
    min-height: 100vh
  h1
    position: absolute
    width: 100%
    top: 30vh
    left: 0
    text-align: center
    img
      width: 35vh
  a
    position: absolute
    color: white
    text-decoration: none
    margin: 1em
    font-size: .9em
    img
      height: 1.5em
      vertical-align: middle
      margin-right: .5em
    &#osoa
      top: 0
      right: 0
      font-weight: bold
      border: 1px solid white
      padding: 1em
      text-transform: uppercase
    &#guaixe
      top: 0
      left: 0
      font-size: 1.2rem
      &:before
        content: ""
        display: inline-block
        height: 1px
        width: 2em
        background: white
        vertical-align: middle
        margin-right: .5em
    &#bulegoa
      bottom: 0
      left: 0
    &#batzen
      bottom: 0
      right: 0
      font-size: 1.2em
    &#scroll
      bottom: 0
      left: 40%
      width: 20%
      text-align: center
      &:after
        content: ""
        display: block
        height: 2em
        width: 1px
        background: white
        margin: .5em auto 0 auto
