.post
  width: 100%
  font-size: 0
  &.grey
    background: #eee
    section.resume
      text-align: left
    .player
      iframe
        margin-left: 20%
  .video
    width: 80%
    margin: 0 10%
  section.resume, .player
    display: inline-block
    width: 50%
    height: auto
    font-size: 1rem
    padding: 5%
    vertical-align: middle
  section.resume
    text-align: right
    h1
      display: inline-block
      border-bottom: 2px solid black
      padding-bottom: .5em
  .player
    iframe
      width: 80%
      height: 15rem
