@media screen and (max-width: 520px)
  a#osoa
    width: 90%
    top: 2rem !important
  a#bulegoa
    display: none
  a#batzen
    width: 90%
    bottom: 3rem !important
    text-align: center
  a#scroll:after
    height: 1em !important
  .post
    .video
      width: 100%
      margin: 0
      .resume
        width: 100%
        text-align: center
      .player
        width: 100%
        iframe
          width: 100%
          margin: 0
          height: 10em
    &.grey
      background: #ccc
    &#dokumentalOsoa
      iframe
        height: 10rem


