@media screen and (max-width: 1028px)
  a#osoa
    font-size: 40px
    width: 90%
    top: 4rem !important
  a#bulegoa
    font-size: 1rem
    display: none
  a#batzen
    font-size: 40px !important
    width: 90%
    bottom: 8rem !important
    text-align: center
  a#scroll:after
    height: 1em !important
  a#scroll
    font-size: 40px !important
  a#guaixe
    font-size: 40px !important
  .post
    font-size: 40px !important
    .video
      width: 100%
      margin: 0
      .resume
        width: 100%
        text-align: center !important
      .player
        width: 100%
        iframe
          width: 100%
          margin: 0
          height: 500px
    &.grey
      background: #ccc
    &#dokumentalOsoa
      font-size: 40px !important
      iframe
        height: 10rem
  h1
    font-size: 50px
  p
    font-size: 40px



